<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :typeKey, style: "display: block" %>
    <%= form.text_field :typeKey %>
  </div>

  <div>
    <%= form.label :stateKey, style: "display: block" %>
    <%= form.text_field :stateKey %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :descr, style: "display: block" %>
    <%= form.text_field :descr %>
  </div>

  <div>
    <%= form.label :pictureDocumentId, style: "display: block" %>
    <%= form.text_field :pictureDocumentId %>
  </div>

  <div>
    <%= form.label :meta, style: "display: block" %>
    <%= form.text_field :meta %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
