<div id="<%= dom_id person %>">
  <p>
    <strong>Typekey:</strong>
    <%= person.typeKey %>
  </p>

  <p>
    <strong>Statekey:</strong>
    <%= person.stateKey %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= person.descr %>
  </p>

  <p>
    <strong>Picturedocumentid:</strong>
    <%= person.pictureDocumentId %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= person.meta %>
  </p>

</div>
