<%= form_with(url: "/registration_requests/#{registration_request.id}", method: "put") do |form| %>
  <% if registration_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(registration_request.errors.count, "error") %> prohibited this registration_request from being saved:</h2>

      <ul>
        <% registration_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <!--<%= form.label :id, style: "display: block" do %>
      Registration Request: <%= registration_request.id %>
    <% end %>-->
    <%= form.hidden_field :id, value: registration_request.id %>
  </div>


  <% if current_user.has_role?(:admin) %>
    <div>
      <%= form.label :stateKey, style: "display: block" %>
      <%= form.select :stateKey, ['kuali.courseregistration.request.state.submitted', 'kuali.courseregistration.request.state.processed.success', 'kuali.courseregistration.request.state.discarded']%> <!-- idk what this needs to be -->
    </div>
  <% else %>
    <div>
      <%= form.label :stateKey, style: "display: block" do %>
        State: <%= registration_request.stateKey %>
      <% end %>
      <%= form.hidden_field :stateKey, value: registration_request.stateKey %>
    </div>
  <% end %>

  <div>
    <%= form.label :descr, style: "display: block" %>
    <%= form.text_area :descr, value: registration_request.descr["plain"] %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
