<%= form_with(url: "/registration_requests/#{registration_request.id}", method: "put") do |form| %>
  <% if registration_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(registration_request.errors.count, "error") %> prohibited this registration_request from being saved:</h2>

      <ul>
        <% registration_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <!--<%= form.label :id, style: "display: block" do %>
      Registration Request: <%= registration_request.id %>
    <% end %>-->
    <%= form.hidden_field :id, value: registration_request.id %>
  </div>


  <% if current_user.has_role?(:admin) %>

    <div>
      <%= form.label :Description, style: "display: block; font-weight: bold" %>
        <%= registration_request.descr["plain"] %>
    </div>

    <div>
      <%= form.label :Status, style: "display: block; font-weight: bold" %>
      <%= form.select :stateKey, ['Submitted', 'Accepted', 'Rejected']%>
    </div>

    <div>
      <%= form.label :Response, style: "display: block; font-weight: bold" %>
      <%= form.text_area :response, value: registration_request.descr["formatted"] %>
      <%= %>
    </div>

  <% else %>

    <div>
      <%= form.label :Description, style: "display: block; font-weight: bold" %>
      <%= form.text_area :descr, value: registration_request.descr["plain"] %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Save" %>
  </div>

<% end %>
