<%= form_with(model: registration_request, url: registration_requests_path) do |form| %>
  <% if @RegistrationRequest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@RegistrationRequest.errors.count, "error") %> prohibited this @RegistrationRequest from being saved:</h2>

      <ul>
        <% @RegistrationRequest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :registration_request_data, value: @registration_request_data %>
  </div>

  <div>
    <!--<%= form.label :id, style: "display: block" do %>
      Registration Request: <%= @RegistrationRequest.id %>
    <% end %>-->
    <%= form.hidden_field :id, value: @RegistrationRequest.id %>
  </div>

  <div>
    <%= form.hidden_field :typeKey, value: @RegistrationRequest.typeKey %>
  </div>

  <% if current_user.has_role?(:admin) %>
    <div>
      <%= form.label :stateKey, style: "display: block" %>
      <%= form.select :stateKey, ['kuali.courseregistration.request.state.submitted', 'kuali.courseregistration.request.state.completed']%> <!-- idk what this needs to be -->
    </div>
  <% else %>
    <div>
      <%= form.label :stateKey, style: "display: block" do %>
        State: <%= @RegistrationRequest.stateKey %>
      <% end %>
      <%= form.hidden_field :stateKey, value: @RegistrationRequest.stateKey %>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :effectiveDate, value: @RegistrationRequest.effectiveDate %>
  </div>

  <div>
    <%= form.hidden_field :expirationDate, value: @RegistrationRequest.expirationDate %>
  </div>

  <div>
    <%= form.hidden_field :name, value: @RegistrationRequest.name %>
  </div>

  <div>
    <%= form.label :descr, style: "display: block" %>
    <%= form.text_area :descr %>
  </div>

  <div>
    <%= form.hidden_field :requestorId, value: @RegistrationRequest.requestorId %>
  </div>

  <div>
    <%= form.hidden_field :termId, value: @RegistrationRequest.termId %>
  </div>

  <div>
    <%= form.hidden_field :submittedDate, value: @RegistrationRequest.submittedDate %>
  </div>

  <div>
    <%= form.hidden_field :processResults, value: @RegistrationRequest.processResults %>
  </div>

  <div>
    <%= form.hidden_field :itemStudentIds, value: @RegistrationRequest.itemStudentIds %>
  </div>

  <div>
    <%= form.hidden_field :itemStudentPopulationId, value: @RegistrationRequest.itemStudentPopulationId %>
  </div>

  <div>
    <%= form.hidden_field :meta, value: @RegistrationRequest.meta %>
  </div>

  <%= form.fields_for :@RegistrationRequestItem do |item_form| %>
    <% if @RegistrationRequestItem.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@RegistrationRequestItem.errors.count, "error") %> prohibited this @RegistrationRequestItem from being saved:</h2>

        <ul>
          <% @RegistrationRequestItem.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= item_form.hidden_field :id, value: @RegistrationRequestItem.id %>
    </div>
    <div>
      <%= item_form.hidden_field :typeKey, value: @RegistrationRequestItem.typeKey %>
    </div>

    <div>
      <%= item_form.hidden_field :stateKey, value: @RegistrationRequestItem.stateKey %>
    </div>

    <div>
      <%= item_form.hidden_field :effectiveDate, value: @RegistrationRequestItem.effectiveDate %>
    </div>

    <div>
      <%= item_form.hidden_field :expirationDate, value: @RegistrationRequestItem.expirationDate %>
    </div>

    <div>
      <%= form.hidden_field :name, value: @RegistrationRequestItem.name %>
    </div>

    <div>
      <%= item_form.hidden_field :descr, value: @RegistrationRequestItem.descr %>
    </div>

    <div>
      <%= item_form.hidden_field :registrationRequestId, value: @RegistrationRequestItem.registrationRequestId %>
    </div>

    <div>
      <%= item_form.hidden_field :studentId, value: @RegistrationRequestItem.studentId %>
    </div>

    <div>
      <%= item_form.hidden_field :requestedEffectiveDate, value: @RegistrationRequestItem.requestedEffectiveDate %>
    </div>

    <div>
      <%= item_form.hidden_field :existingRegistrationId, value: @RegistrationRequestItem.existingRegistrationId %>
    </div>

    <div>
      <%= item_form.hidden_field :existingActivityOfferingId, value: @RegistrationRequestItem.existingActivityOfferingId %>
    </div>

    <div>
      <%= item_form.hidden_field :preferredActivityOfferingIds, value: @RegistrationRequestItem.preferredActivityOfferingIds %>
    </div>

    <div>
      <%= item_form.hidden_field :preferredFormatOfferingIds, value: @RegistrationRequestItem.preferredFormatOfferingIds %>
    </div>

    <div>
      <%= item_form.hidden_field :preferredRegistrationGroupIds, value: @RegistrationRequestItem.preferredRegistrationGroupIds %>
    </div>

    <div>
      <%= item_form.hidden_field :preferredCredits, value: @RegistrationRequestItem.preferredCredits %>
    </div>

    <div>
      <%= item_form.hidden_field :preferredGradingOptionIds, value: @RegistrationRequestItem.preferredGradingOptionIds %>
    </div>

    <div>
      <%= item_form.hidden_field :processResults, value: @RegistrationRequestItem.processResults %>
    </div>

    <div>
      <%= item_form.hidden_field :resultingRegistrationId, value: @RegistrationRequestItem.resultingRegistrationId %>
    </div>

    <div>
      <%= item_form.hidden_field :courseWaitlistEntryId, value: @RegistrationRequestItem.courseWaitlistEntryId %>
    </div>

    <div>
      <%= item_form.hidden_field :processingPriority, value: @RegistrationRequestItem.processingPriority %>
    </div>

    <div>
      <%= item_form.hidden_field :lastAttendanceDate, value: @RegistrationRequestItem.lastAttendanceDate %>
    </div>

    <div>
      <%= item_form.hidden_field :notificationDate, value: @RegistrationRequestItem.notificationDate %>
    </div>

    <div>
      <%= item_form.hidden_field :meta, value: @RegistrationRequestItem.meta %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
