<%= form_with(url: registration_requests_path) do |form| %>

  <div>
    <%= form.hidden_field :registration_group_id, value: @registration_group_id %>
  </div>

  <div>
    <%= form.hidden_field :activity_offering_ids, multiple: true, value: @activity_offering_ids %>
  </div>

  <div>
    <%= form.label :descr, style: "display: block" do %>
      Description (please include year, major, and any special reasoning for wanting this class in your submission):
    <% end %>
    <%= form.text_area :descr %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
