<div>
  <p>
    <strong>Status:</strong>
    <% case registration_request.stateKey %>
    <% when 'kuali.courseregistration.request.state.submitted' %>
      <%= 'Submitted' %>
    <% when 'kuali.courseregistration.request.state.processed.success' %>
      <%= 'Accepted' %>
    <% when 'kuali.courseregistration.request.state.discarded' %>
      <%= 'Rejected' %>
    <% end %>
    <%# <%= registration_request.stateKey %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= registration_request.descr["plain"] %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= registration_request.descr["formatted"] %>
  </p>

  <p>
    <strong>Effective Date:</strong>
    <%= DateTime.parse(registration_request.effectiveDate).strftime("%B %d, %Y %H:%M:%S") %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= creator %>
  </p>

</div>
