<div>
  <h3>
    <strong>Name:</strong>
    <%= registration_request.name %>
  </h3>
  <p>
    <strong>Status:</strong>
    <%= registration_request.stateKey %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= registration_request.descr["plain"] %>
  </p>

  <p>
    <strong>Effective Date:</strong>
    <%= DateTime.parse(registration_request.effectiveDate).strftime("%B %d, %Y %H:%M:%S") %>
  </p>

  <p>
    <strong>Expiration Date:</strong>
    <%= registration_request.expirationDate %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= registration_request.requestorId %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= registration_request.termId %>
  </p>

</div>
