<div id="<%= dom_id registration_request %>">
  <p>
    <strong>Typekey:</strong>
    <%= registration_request.typeKey %>
  </p>

  <p>
    <strong>Statekey:</strong>
    <%= registration_request.stateKey %>
  </p>

  <p>
    <strong>Effectivedate:</strong>
    <%= registration_request.effectiveDate %>
  </p>

  <p>
    <strong>Expirationdate:</strong>
    <%= registration_request.expirationDate %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= registration_request.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= registration_request.descr %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= registration_request.person_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= registration_request.term_id %>
  </p>

  <p>
    <strong>Submitteddate:</strong>
    <%= registration_request.submittedDate %>
  </p>

  <p>
    <strong>Processresults:</strong>
    <%= registration_request.processResults %>
  </p>

  <p>
    <strong>Itemstudentids:</strong>
    <%= registration_request.itemStudentIds %>
  </p>

  <p>
    <strong>Itemstudentpopulationid:</strong>
    <%= registration_request.itemStudentPopulationId %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= registration_request.meta %>
  </p>

</div>
