<%# <%= render 'terms/terms_dropdown', terms: @terms, term_name: @term_name%>
<p style="color: green"><%= notice %></p>

<h1>Waitlist requests</h1>
<% if @registration_requests != nil %>
<%= form_tag registration_requests_path, method: :get do %>
  <%= select_tag(:stateKey, options_for_select(['kuali.courseregistration.request.state.submitted', 'kuali.courseregistration.request.state.processed.success', 'kuali.courseregistration.request.state.discarded'])) %>
  <%= submit_tag 'Filter by State'%>
<% end %>
  <div id="registration_requests">
    <% @registration_requests.each do |registration_request| %>
      <%= render partial: "registration_request", locals: {registration_request: registration_request[:registrationRequest]} %>
      <%= render "edit_form", registration_request: registration_request[:registrationRequest], registration_request_item: registration_request[:registrationRequestItem] %>
      <%= render 'activity_offerings/activity_offerings_list', activity_offerings: @activity_offerings[registration_request[:registrationRequest].id] %>
      <p>
        <%= link_to "Show this waitlist request", registration_request_path(registration_request[:registrationRequest].id, activity_offerings: @activity_offerings[registration_request[:registrationRequest].id][0]) %>
      </p>

    <% end %>
  </div>
<% end %>

<%= link_to "New waitlist request", course_offerings_path %>
