<p style="color: green"><%= notice %></p>
<h1>Waitlist request</h1>

<%= render @registration_request %>

<h2>Waitlist request item</h2>

<div id="registration_request_items">
  <% @registration_request_items.each do |registration_request_item| %>
    <%= render registration_request_item %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this waitlist request", edit_registration_request_path(@registration_request) %> |
  <%= link_to "Back to waitlist requests", registration_requests_path %>

  <%= button_to "Destroy this waitlist request", @registration_request, method: :delete %>
</div>
