<div id="<%= dom_id registration_group %>">
  <p>
    <strong>Attributes:</strong>
    <%= registration_group.attributes %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= registration_group.meta %>
  </p>

  <p>
    <strong>Typekey:</strong>
    <%= registration_group.typeKey %>
  </p>

  <p>
    <strong>Statekey:</strong>
    <%= registration_group.stateKey %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= registration_group.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= registration_group.descr %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= registration_group.id %>
  </p>

  <p>
    <strong>Formatofferingid:</strong>
    <%= registration_group.formatOfferingId %>
  </p>

  <p>
    <strong>Courseofferingid:</strong>
    <%= registration_group.courseOfferingId %>
  </p>

  <p>
    <strong>Termid:</strong>
    <%= registration_group.termId %>
  </p>

  <p>
    <strong>Registrationcode:</strong>
    <%= registration_group.registrationCode %>
  </p>

  <p>
    <strong>Coursecode:</strong>
    <%= registration_group.courseCode %>
  </p>

  <p>
    <strong>Activityofferingids:</strong>
    <%= registration_group.activityOfferingIds %>
  </p>

  <p>
    <strong>Multiofferingid:</strong>
    <%= registration_group.multiOfferingId %>
  </p>

  <p>
    <strong>Bundledofferingid:</strong>
    <%= registration_group.bundledOfferingId %>
  </p>

  <p>
    <strong>Isgenerated:</strong>
    <%= registration_group.isGenerated %>
  </p>

  <p>
    <strong>Gradingoptionid:</strong>
    <%= registration_group.gradingOptionId %>
  </p>

  <p>
    <strong>Studentregistrationgradingoptionids:</strong>
    <%= registration_group.studentRegistrationGradingOptionIds %>
  </p>

  <p>
    <strong>Creditoptionid:</strong>
    <%= registration_group.creditOptionId %>
  </p>

  <p>
    <strong>Requisiteids:</strong>
    <%= registration_group.requisiteIds %>
  </p>

  <p>
    <strong>Corequisiteids:</strong>
    <%= registration_group.coRequisiteIds %>
  </p>

  <p>
    <strong>Restrictionids:</strong>
    <%= registration_group.restrictionIds %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= registration_group.type %>
  </p>

  <p>
    <strong>State:</strong>
    <%= registration_group.state %>
  </p>

</div>
