<div id="<%= dom_id activity_offering %>">
  <tr>
    <td><%= activity_offering.name %></td>
    <td><%= activity_offering.formatOfferingName %></td>
    <td><%= format_instructor_names(activity_offering.instructors.map { |instructor| instructor['personName']}) %></td>
    <td><%= activity_offering.maximumEnrollment %></td>
    <td><%= link_to "Submit Waitlist Request", new_registration_request_path %></td>

  </tr>
</div>
