<table  class="activity_offering_tb">
  <tr>
    <th>Name</th>
    <th>Schedule</th>
    <th>Instructors</th>
    <th>Maximum Enrollment</th>
    <th>Seats Remaining</th>
  </tr>
  <% activity_offerings.each do |activity_offering| %>
    <div id="<%= dom_id activity_offering %>">
      <tr>
        <td><%= activity_offering.name %></td>
        <td><%= activity_offering.scheduleNames %></td>
        <td><%= format_instructor_names(activity_offering.instructors.map { |instructor| instructor['personName']}) %></td>
        <td id="max_enroll"><%= activity_offering.maximumEnrollment %></td>
        <td><%= 'NIL' %></td>
      </tr>
    </div>
  <% end %>
</table>
