<div id="<%= dom_id activity_offering %>">
  <p>
    <strong>Name:</strong>
    <%= activity_offering.name %>
  </p>

  <p>
    <strong>Formatofferingid:</strong>
    <%= activity_offering.formatOfferingId %>
  </p>

  <p>
    <strong>Formatofferingname:</strong>
    <%= activity_offering.formatOfferingName %>
  </p>

  <p>
    <strong>Activityid:</strong>
    <%= activity_offering.activityId %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= activity_offering.term_id %>
  </p>

  <p>
    <strong>Termcode:</strong>
    <%= activity_offering.termCode %>
  </p>

  <p>
    <strong>Activitycode:</strong>
    <%= activity_offering.activityCode %>
  </p>

  <p>
    <strong>Instructors:</strong>
    <%= activity_offering.instructors.map { |instructor| instructor.attributes["name"] }[0] %>
  </p>

  <p>
    <strong>Maximumenrollment:</strong>
    <%= activity_offering.maximumEnrollment %>
  </p>

  <p>
    <strong>Minimumenrollment:</strong>
    <%= activity_offering.minimumEnrollment %>
  </p>

  <p>
    <strong>Course offering:</strong>
    <%= activity_offering.course_offering_id %>
  </p>

  <p>
    <strong>Courseofferingtitle:</strong>
    <%= activity_offering.courseOfferingTitle %>
  </p>

  <p>
    <strong>Unitsdeploymentorgids:</strong>
    <%= activity_offering.unitsDeploymentOrgIds[0] %>
  </p>

<% if @registration_request_items %>
  <h2>Registration Requests</h2>
  <% @registration_request_items.each do |item| %>
    <%= render item.registration_request %>
    <%= render item %>
  <% end %>
<% end %>

</div>
