<div id="<%= dom_id term %>">
  <p>
    <strong>Typekey:</strong>
    <%= term.typeKey %>
  </p>

  <p>
    <strong>Statekey:</strong>
    <%= term.stateKey %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= term.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= term.descr %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= term.code %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= term.startDate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= term.endDate %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= term.meta %>
  </p>

</div>
