<div id="<%= dom_id registration_request_item %>">
  <p>
    <strong>Typekey:</strong>
    <%= registration_request_item.typeKey %>
  </p>

  <p>
    <strong>Statekey:</strong>
    <%= registration_request_item.stateKey %>
  </p>

  <p>
    <strong>Effectivedate:</strong>
    <%= registration_request_item.effectiveDate %>
  </p>

  <p>
    <strong>Expirationdate:</strong>
    <%= registration_request_item.expirationDate %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= registration_request_item.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= registration_request_item.descr %>
  </p>

  <p>
    <strong>Registration request:</strong>
    <%= registration_request_item.registration_request_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= registration_request_item.person_id %>
  </p>

  <p>
    <strong>Requestedeffectivedate:</strong>
    <%= registration_request_item.requestedEffectiveDate %>
  </p>

  <p>
    <strong>Existingregistrationid:</strong>
    <%= registration_request_item.existingRegistrationId %>
  </p>

  <p>
    <strong>Existingactivityofferingid:</strong>
    <%= registration_request_item.existingActivityOfferingId %>
  </p>

  <p>
    <strong>Preferredactivityofferingids:</strong>
    <%= registration_request_item.preferredActivityOfferingIds %>
  </p>

  <p>
    <strong>Preferredformatofferingids:</strong>
    <%= registration_request_item.preferredFormatOfferingIds %>
  </p>

  <p>
    <strong>Preferredregistrationgroupids:</strong>
    <%= registration_request_item.preferredRegistrationGroupIds %>
  </p>

  <p>
    <strong>Preferredcredits:</strong>
    <%= registration_request_item.preferredCredits %>
  </p>

  <p>
    <strong>Preferredgradingoptionids:</strong>
    <%= registration_request_item.preferredGradingOptionIds %>
  </p>

  <p>
    <strong>Processresults:</strong>
    <%= registration_request_item.processResults %>
  </p>

  <p>
    <strong>Resultingregistrationid:</strong>
    <%= registration_request_item.resultingRegistrationId %>
  </p>

  <p>
    <strong>Coursewaitlistentryid:</strong>
    <%= registration_request_item.courseWaitlistEntryId %>
  </p>

  <p>
    <strong>Processingpriority:</strong>
    <%= registration_request_item.processingPriority %>
  </p>

  <p>
    <strong>Lastattendancedate:</strong>
    <%= registration_request_item.lastAttendanceDate %>
  </p>

  <p>
    <strong>Notificationdate:</strong>
    <%= registration_request_item.notificationDate %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= registration_request_item.meta %>
  </p>

</div>
