<div id="<%= dom_id registration_request_item %>">

  <p>
    <strong>Effective Date:</strong>
    <%= registration_request_item.effectiveDate %>
  </p>

  <p>
    <strong>Expiration Date:</strong>
    <%= registration_request_item.expirationDate %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= registration_request_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= registration_request_item.descr %>
  </p>

  <p>
    <strong>Registration request:</strong>
    <%= registration_request_item.registration_request_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= registration_request_item.person_id %>
  </p>

  <p>
    <strong>Preferredactivityofferingids:</strong>
    <%= registration_request_item.preferredActivityOfferingIds %>
  </p>

</div>
