<div id="<%= dom_id course_offering %>">
  <h3>
    <strong>Name:</strong>
    <%= course_offering.name %>
  </h3>

  <p>
    <%= raw(course_offering.descr['plain']) %>
  </p>

  <p>
    <strong>Course Code:</strong>
    <%= course_offering.courseCode %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course_offering.creditOptionId %>
  </p>

  <p>
    <strong>Instructors:</strong>
    <%= course_offering.instructors %>
  </p>

  <p>
    <strong>Deployment Organization:</strong>
    <%= course_offering.unitsDeploymentOrgIds %>
  </p>

</div>