<div id="<%= dom_id course_offering %>">
  <h3>
    <strong>Name:</strong>
    <%= course_offering.name %>
  </h3>

  <p>
    <%= raw(course_offering.descr['plain']) %>
  </p>

  <p>
    <strong>Course Offering ID:</strong>
    <%= course_offering.id %>
  </p>

   <p>
    <strong>Term:</strong>
    <%= course_offering.termId %>
  </p>

  <p>
    <strong>Deployment Organization:</strong>
    <%= course_offering.unitsDeploymentOrgIds %>
  </p>
  <%= link_to 'Show Associated Activity Offerings', course_offering_activity_offerings_path(course_offering.id) %>
  <%= link_to 'Show Associated Registration Groups', course_offering_registration_groups_path(course_offering.id) %>


</div>