<div id="<%= dom_id course_offering %>">
  <p>
    <strong>Typekey:</strong>
    <%= course_offering.typeKey %>
  </p>

  <p>
    <strong>Statekey:</strong>
    <%= course_offering.stateKey %>
  </p>

  <p>
    <strong>Effectivedate:</strong>
    <%= course_offering.effectiveDate %>
  </p>

  <p>
    <strong>Expirationdate:</strong>
    <%= course_offering.expirationDate %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course_offering.name %>
  </p>

  <p>
    <strong>Descr:</strong>
    <%= course_offering.descr.inspect %>
  </p>

  <p>
    <strong>Courseid:</strong>
    <%= course_offering.courseId %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= course_offering.term_id %>
  </p>

  <p>
    <strong>Coursecode:</strong>
    <%= course_offering.courseCode %>
  </p>

  <p>
    <strong>Courseofferingcode:</strong>
    <%= course_offering.courseOfferingCode %>
  </p>

  <p>
    <strong>Subjectareaid:</strong>
    <%= course_offering.subjectAreaId %>
  </p>

  <p>
    <strong>Coursenumbersuffix:</strong>
    <%= course_offering.courseNumberSuffix %>
  </p>

  <p>
    <strong>Courseofferingtitle:</strong>
    <%= course_offering.courseOfferingTitle %>
  </p>

  <p>
    <strong>Ishonorsoffering:</strong>
    <%= course_offering.isHonorsOffering %>
  </p>

  <p>
    <strong>Maximumenrollment:</strong>
    <%= course_offering.maximumEnrollment %>
  </p>

  <p>
    <strong>Minimumenrollment:</strong>
    <%= course_offering.minimumEnrollment %>
  </p>

  <p>
    <strong>Gradingoptionid:</strong>
    <%= course_offering.gradingOptionId %>
  </p>

  <p>
    <strong>Studentregistrationgradingoptionids:</strong>
    <%= course_offering.studentRegistrationGradingOptionIds %>
  </p>

  <p>
    <strong>Creditoptionid:</strong>
    <%= course_offering.creditOptionId %>
  </p>

  <p>
    <strong>Instructors:</strong>
    <%= course_offering.instructors %>
  </p>

  <p>
    <strong>Unitsdeploymentorgids:</strong>
    <%= course_offering.unitsDeploymentOrgIds %>
  </p>

  <p>
    <strong>Requisiteids:</strong>
    <%= course_offering.requisiteIds %>
  </p>

  <p>
    <strong>Corequisiteids:</strong>
    <%= course_offering.coRequisiteIds %>
  </p>

  <p>
    <strong>Restrictionids:</strong>
    <%= course_offering.restrictionIds %>
  </p>

  <p>
    <strong>Campuslocations:</strong>
    <%= course_offering.campusLocations %>
  </p>

  <p>
    <strong>Isevaluated:</strong>
    <%= course_offering.isEvaluated %>
  </p>

  <p>
    <strong>Courseofferingurl:</strong>
    <%= course_offering.courseOfferingUrl %>
  </p>

  <p>
    <strong>Graderosterdefinitionid:</strong>
    <%= course_offering.gradeRosterDefinitionId %>
  </p>

  <p>
    <strong>Gradingoptionids:</strong>
    <%= course_offering.gradingOptionIds %>
  </p>

  <p>
    <strong>Creditoptionids:</strong>
    <%= course_offering.creditOptionIds %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= course_offering.meta %>
  </p>

</div>