<div id="<%= dom_id course_offering %>">
  <p>
    <strong>Name:</strong>
    <%= course_offering.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course_offering.descr.attributes["notes"] %>
  </p>

  <p>
    <strong>Course Code:</strong>
    <%= course_offering.courseId %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= course_offering.term_id %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course_offering.creditOptionId %>
  </p>

  <p>
    <strong>Instructors:</strong>
    <%= course_offering.instructors.map { |instructor| instructor.attributes["name"] }[0] %>
  </p>

  <p>
    <strong>Deployment Organization:</strong>
    <%= course_offering.unitsDeploymentOrgIds[0] %>
  </p>

</div>