<!DOCTYPE html>
<html>
  <head>
    <title>EagleVisionPro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'My Waitlist Requests', registration_requests_path %>
      <%= link_to 'Search Course Offerings', course_offerings_path %>
      <%= form_tag(destroy_user_session_path, method: :delete) do %>
        <%= submit_tag 'Sign Out' %>
      <% end %>
    <% else %>
      <% unless controller_name == 'sessions' || controller_name == 'registrations' %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
